/************************************
  Base
************************************/
html {
    scroll-behavior: smooth;
}

body {
    margin: auto;
    padding: 0;
    margin: 0;
    line-height: 22px;
    overflow-x: hidden;
}

* {
    font-family: "Ubuntu", "Ubuntu-Embed", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
}

#guide-content {
    padding: 15px;
    max-width: calc(100vw - 300px);
    margin: auto;
}

#guide-viewer {
    display: flex;
    flex-direction: columm;
}

/************************************
  Sidebar
************************************/
#guide-sidebar {
    position: sticky;
    top: 66px;
    align-self: start;
    width: 300px;
}

#sidebar-contents {
    list-style: none;
    padding: 0;
    margin: 0;
    height: calc(100vh - 66px);
    overflow-y: scroll;
}

.nav-item {
    cursor: pointer;
    display: block;
    padding: 5px 10px;
    border-bottom: 1px solid #d7d7d7;
    font-size: 15px;
    text-decoration: none;
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}

.nav-chapter {
    border-color: #a9a9a9;
    color: black;
    text-transform: capitalize;
}

.nav-separator {
    height: 15px;
}

.nav-item:hover,
.nav-item:focus {
    background: #cedbb9;
    color: #000;
    text-decoration: none;
}

.nav-item:active {
    background: #abc087;
    color: #000;
    outline-color: #abc087;
    transition: none;
}

.nav-item.active {
    background-color: #93af66;
    color: #fff;
}

#sidebar-info {
    padding: 15px;
    opacity: 0.5;
}

#nav-page-faq {
    text-transform: uppercase;
}

/************************************
  Site Header
************************************/
#site-header {
    background: #87a556;
    position: sticky;
    top: 0;
    width: 100%;
    height: 50px;
    padding: 0.5em 0;
    z-index: 10;
}

#site-logo {
    margin: 0 15px;
}

/************************************
  Guide
************************************/
#title-block-header {
    background: #f4f4f4;
    margin: -15px;
    margin-bottom: 15px;
    padding: 15px;
}

#title-block-header .author,
#title-block-header .date {
    opacity: 0.5;
}

/* Match styling from Docbook render */
h1, h2 {
    color: #4b4b49;
    line-height: 36px;
    text-transform: capitalize;

    /* Jump to (hash) */
    margin-top: -60px;
    padding-top: 80px;
    margin-bottom: 20px;
}

h2 {
    border-bottom: 1px solid #c0bfbc;
    color: #4b4b49;
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 10px;
}

blockquote {
    /* Used for notes and tips, missing icon! */
    background: #f4f4f4;
    border: 1px solid #eaeae9;
    margin: 10px auto;
    padding: 5px 10px;
}

pre {
    display: block;
    background-color: #ededed;
    color: #000;
    font-size: 14px;
    padding: 15px;
    margin: 15px 0;
    white-space: pre-wrap;
}

.menuchoice {
    color: #4b4b49;
    font-style: italic;
}

/* Figure images */
p > img,
p > embed {
    display: block;
    max-width: 680px;
    margin: 10px auto;
}

@media and (max-width: 680px) {
    p > img,
    p > embed {
        max-width: 100%;
    }
}

/* Images underneath headings are icons */
h1 + p > img,
h2 + p > img {
    display: inline-block;
    max-height: 48px;
    margin: 0;
    margin-right: 5px;
    margin-bottom: 5px;
    vertical-align: middle;
}

/* Navigation links (from main site) */
a {
    color: #758a53;
}

/* Tables (from main site) */
table {
    table-layout: fixed;
    margin: 0;
    margin-bottom: 0px;
    margin-bottom: 50px;
}

th, td {
    border-spacing: 0;
    border-collapse: collapse;
    padding: 8px;
    max-width: 400px;
}

tr {
    font-size: 0.9em;
    border-bottom: 1px solid #c9c6c3;
    background-color: #fff;
}

tr:first-child, tr:nth-child(2n+3) {
    background-color: #f9f9f9;
}

/* Mark external links */
.external {
    color: #45a7e7;
}

/* Embed font */
@font-face {
    font-family: "Ubuntu-Embed";
    src: url("/fonts/Ubuntu-R.ttf");
}

@font-face {
    font-family: "Ubuntu-Embed";
    src: url("/fonts/Ubuntu-B.ttf");
    font-weight: bold;
    font-style: normal;
}
