body {
    margin: auto;
    font-family: Ubuntu, Roboto, sans-serif;
    padding: 0;
    margin: 0;
    line-height: 22px;
}

#site-header {
    background: #87a556;
    position: sticky;
    top: 0;
    width: 100%;
    height: 50px;
    padding: 0.5em 0;
}

#guide-content {
    padding: 15px;
}
