name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    - name: Install Dependencies
      run: |
        sudo apt-get install pandoc ruby-htmlproofer

    - name: Clone Guide Repository
      run: |
        git clone https://github.com/ubuntu-mate/ubuntu-mate-guide --depth=1

    - name: Build
      run: |
        scripts/build.py ubuntu-mate-guide

    - name: Test for errors
      run: |
        scripts/test.sh

    - name: Deploy to server
      if: ${{ github.event_name == 'push' && github.repository == 'ubuntu-mate/guide.ubuntu-mate.org' }}
      run: |
        mkdir -p $HOME/.ssh/
        chmod 700 $HOME/.ssh/
        echo -n "${{ secrets.SSH_MATEY }}" > $HOME/.ssh/id_rsa
        chmod 600 $HOME/.ssh/id_rsa
        scripts/deploy.sh
